<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Рассылки</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/home/">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="/client_list">Клиенты</a>
        <a class="p-2 btn btn-outline-primary" href="/message_list/">Сообщения</a>
        <a class="p-2 btn btn-outline-primary" href="/mailing_list/">Рассылки/</a>
        <a class="p-2 btn btn-outline-primary" href="/statistics/">Статус рассылки/</a>
    </nav>
</div>