{% extends 'my_mail/base.html' %}
<!DOCTYPE html>
{% block content %}
    <body>
        <a class="nav-link" href="{% url 'my_mail:create_message' %}">Создать сообщение</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Тема письма</th>
                <th scope="col">Содержание письма</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                {% if user == object.owner or perms.my_mail.view_message %}
                <tr>
                    <td>{{ object.pk }}</td>
                    <td>{{ object.title }}</td>
                    <td>{{ object.content }}</td>
                    <td>
                    {% endif %}
                        {% if user == object.owner %}
                        <a class="btn btn-info" href="{% url 'my_mail:update_message' object.pk %}">Обновить</a>
                        <a class="btn btn-danger" href="{% url 'my_mail:delete_message' object.pk %}">Удалить</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}